body{
    background-repeat: no-repeat;
    background: #171717;
    background: -webkit-linear-gradient(20deg, #171717 0%, #04102a 100%);
    background: linear-gradient(20deg, #171717 0%, #04102a 100%);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50vh;
    padding-right: 50vh;
}
@media (max-width: 2560px){
    body{
        padding-left: 50vh;
        padding-right: 50vh;
    }
}
@media (max-width: 1920px){
    body{
        padding-left: 50vh;
        padding-right: 50vh;
    }
}
@media (max-width: 1440px){
    body{
        padding-left: 50vh;
        padding-right: 50vh;
    }
}
@media (max-width: 1280px){
    body{
        padding-left: 50vh;
        padding-right: 50vh;
    }
}
@media (max-width: 1024px){
    body{
        padding-left: 40vh;
        padding-right: 40vh;
    }
}
@media (max-width: 768px){
    body{
        padding-left: 30vh;
        padding-right: 30vh;
    }
}
@media (max-width: 480px){
    body{
        padding-left: 10vh;
        padding-right: 10vh;
    }
}
@media (max-width: 320px){
    body{
        padding-left: 5vh;
        padding-right: 5vh;
    }
}