:root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Container_TitleHabilidades{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.Habilidades{
  font-family: 'Audiowide', sans-serif;
  font-size: 3.6rem;
  color: aliceblue;
}
.ContainerHabilidades{
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
}
.Container_Tec{
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Tec{
  font-family: 'Audiowide', sans-serif;
  font-size: 2.4rem;
  color: #b5b5b5;
}
/* ========== [ Estilos Generales ] ========== */
.button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  transition: background 300ms, transform 200ms;
  font-weight: 600;
}
.button__text {
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(24deg * var(--index)));
    inset: 7px;
  }
}
.button__circle {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #212121;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__icon{
  width: 34px;
  height: 34px;
}
.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}
.button:hover {
  color: #fff;
  background: #000;
  transform: scale(1.2);
}
.button:hover .button__icon {
  color: #fff;
}
.button:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}
.button:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}
.button:active {
  transform: scale(0.95);
}
/* ========== [ Estilos por Boton ] ========== */

.▣-HTML{
  background-color: #e34f26;
  color: #fff;
}
.▢-HTML{
  color: #e34f26;
}
.◌-HTML {
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(24deg * var(--index)));
    inset: 7px;
  }
}
.▣-CSS {
  background-color: #663399;
  color: #fff;
}
.▢-CSS {
  color: #663399;
}
.◌-CSS {
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(30deg * var(--index)));
    inset: 7px;
  }
}
.▣-JS{
  background-color: #dcc814e1;
  color: #fff;
}
.▢-JS{
  color: #f5e020;
}
.◌-JS{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(30deg * var(--index)));
    inset: 7px;
  }
}
.▣-PHP{
  background-color: #be77f9;
  color: #fff;
}
.▢-PHP{
  color: #be77f9;
}
.◌-PHP{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(30deg * var(--index)));
    inset: 7px;
  }
}
.▣-MONGODB{
  background-color: #47A248;
  color: #fff;
}
.▢-MONGODB{
  color: #47A248;
}
.◌-MONGODB{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(20deg * var(--index)));
    inset: 7px;
  }
}
.▣-PYTHON{
  background-color: #3776ab;
  color: #fff;
}
.▢-PYTHON{
  color: #3776ab;
}
.◌-PYTHON{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(26deg * var(--index)));
    inset: 7px;
  }
}
.▣-TYPESCRIPT{
  background-color: #3178c6;
  color: #fff;
}
.▢-TYPESCRIPT{
  color: #3178c6;
}
.◌-TYPESCRIPT{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(30deg * var(--index)));
    inset: 7px;
  }
}
.▣-MYSQL{
  background-color: #4479a1;
  color: #fff;
}
.▢-MYSQL{
  color: #4479a1;
}
.◌-MYSQL{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(20deg * var(--index)));
    inset: 7px;
  }
}
.▣-NODEJS{
  background-color: #5fa04d;
  color: #fff;
}
.▢-NODEJS{
  color: #5fa04d;
}
.◌-NODEJS{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(23deg * var(--index)));
    inset: 7px;
  }
}
.▣-TAILWIND{
  background-color: #06B6D4;
  color: #fff;
}
.▢-TAILWIND{
  color: #06B6D4;
}
.◌-TAILWIND{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(20deg * var(--index)));
    inset: 7px;
  }
}
.▣-REACT{
  background-color: #61d4fb;
  color: #212121;
}
.▢-REACT{
  color: #61D4FB;
}
.◌-REACT{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(30deg * var(--index)));
    inset: 7px;
  }
}
.▣-REACTNATIVE{
  background-color: #61D4FB;
  color: #212121;
}
.▢-REACTNATIVE{
  color: #61D4FB;
}
.◌-REACTNATIVE{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(28deg * var(--index)));
    inset: 7px;
  }
}
.▣-NEXTJS{
  background-color: #f4f4f4;
  color: #212121;
}
.▢-NEXTJS{
  color: #F4F4F4;
}
.◌-NEXTJS{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(22deg * var(--index)));
    inset: 7px;
  }
}
.▣-ASTRO{
  background-color: #bc52ee;
  color: #fff;
}
.▢-ASTRO{
  color: #bc52ee;
}
.◌-ASTRO{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(20deg * var(--index)));
    inset: 7px;
  }
}
.▣-THREEJS{
  background-color: #FFF;
  color: #212121;
}
.▢-THREEJS{
  color: #FFF;
}
.◌-THREEJS{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(20deg * var(--index)));
    inset: 7px;
  }
}
.▣-CANVA{
  background-color: #00c4cc;
  color: #212121;
}
.▢-CANVA{
  color: #00c4cc;
}
.◌-CANVA{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(30deg * var(--index)));
    inset: 7px;
  }
}
.▣-GITHUB{
  background-color: #fff;
  color: #212121;
}
.▢-GITHUB{
  color: #fff;
}
.◌-GITHUB{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(17deg * var(--index)));
    inset: 7px;
  }
}
.▣-GIT{
  background-color: #f05032;
  color: #fff;
}
.▢-GIT{
  color: #f05032;
}
.◌-GIT{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(22deg * var(--index)));
    inset: 7px;
  }
}
/* .▣-{
  background-color: #f55c20;
  color: #fff;
}
.▢-{
  color: #f55c20;
}
.◌-{
  position: absolute;
  inset: 0;
  animation: text-rotation 10s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(24deg * var(--index)));
    inset: 7px;
  }
} */