.Box-content {
    /* width: 100%; */
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    /* background-color: #ffffff0d; */

    .Box-imagen #imagen {
        width: 200px;
        height: 200px;
        border: 4px dashed #ccccc7;
        border-radius: 50%;
        object-fit: cover;
    }
    .Hi #Guillermo {
        font-family: 'Audiowide', sans-serif;
        font-weight: 900;
        font-size: 3rem;
        color: #65c53c;
    }
    .Iam #full-Stack {
        font-family: 'Audiowide', sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        color: #00b167;
    }
}
.Hire-me{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    justify-content: center;
    align-items: center;

    .available{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Audiowide', sans-serif;
        /* background-color: blue; */

        .availableContainer{
            width: 168px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            box-shadow: 4px 4px 10px 2px #6fff013e;
            border: 2px solid rgb(112, 170, 26);
            /* border: 2px solid rgb(78, 78, 78); */
            border-radius: 1rem;

            .available-icon{
                color: greenyellow;
                /* color: rgb(78, 78, 78); */
            }
            .available-text{
                font-size: 1rem;
                font-weight: 400;
                color: #ffffff;
            }
        }
    }
    .hiremebutton{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */

        .button {
            display: flex;
            position: relative;
            background: none;
            border: 0;
            transform-style: preserve-3d;
            transform: rotateX(45deg)rotateZ(45deg);
            cursor: pointer;
        }
        .button > .red {
            width: 1.5em;
            height: 1.5em;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            background-color: #032820;
            transform: translate(-50%,-50%);
            transform-style: preserve-3d;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .red::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1em;
            left: 0;
            background-color: #032820;
            transform: rotateZ(-45deg) translateY(-.5em);
            transition: height 150ms, transform 150ms;
        }
        .red::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: #0d4338;
            transform: rotateZ(-45deg) translateY(-1em);
            transition: transform 150ms;
            border: 1px solid ;
        }
        .button > .base {
            position: relative;
            width: 3em;
            height: 3em;
            background-color: #3f5c4f;
            transform-style: preserve-3d;
            border-bottom: 1px solid #64c53c;
            border-right: 1px solid #64c53c;
        }
        .base::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #3f5c4f;
            transform-origin: bottom;
            transform: rotateX(90deg);
            border-right: 1px solid #64c53c;
        }
        .base::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #3f5c4f;
            transform-origin: right;
            transform: rotateY(-90deg);
            border-left: 1px solid ;
        }
        .button:active>.red::before {
            transform: rotateZ(-45deg) translateY(0);
            height: 0;
        }
        .button:active>.red::after {
            transform: rotateZ(-45deg) translateY(0);
        }
    }
}
.Container_SectionJuego{
    width: 100%;
    height: 100%;
}
@media (max-width: 1024px){
    .Box-content {
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .Box-imagen #imagen {
            width: 200px;
            height: 200px;
            border: 4px dashed #ccccc7;
            border-radius: 50%;
            object-fit: cover;
        }
        .Hi #Guillermo {
            font-family: 'Audiowide', sans-serif;
            font-weight: 900;
            font-size: 2rem;
            color: #65c53c;
        }
        .Iam #full-Stack {
            font-family: 'Audiowide', sans-serif;
            font-weight: 900;
            font-size: 1.8rem;
            color: #00b167;
        }
    }
    .Hire-me{
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
        justify-content: center;
        align-items: center;
    
        .available{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Audiowide', sans-serif;
    
            .availableContainer{
                width: 148px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .90rem;
                box-shadow: 4px 4px 10px 2px #6fff013e;
                border: 2px solid rgb(112, 170, 26);
                /* border: 2px solid rgb(78, 78, 78); */
                border-radius: 1rem;
    
                .available-icon{
                    width: 1.6rem;
                    height: 1.6rem;
                    color: greenyellow;
                    /* color: rgb(78, 78, 78); */
                }
                .available-text{
                    font-size: 1rem;
                    font-weight: 400;
                    color: #ffffff;
                }
            }
        }
        .hiremebutton{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: aqua; */
    
            .button {
                display: flex;
                position: relative;
                background: none;
                border: 0;
                transform-style: preserve-3d;
                transform: rotateX(45deg)rotateZ(45deg);
                cursor: pointer;
            }
            .button > .red {
                width: 1.4rem;
                height: 1.4rem;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                background-color: #032820;
                transform: translate(-50%,-50%);
                transform-style: preserve-3d;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .red::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1rem;
                left: 0;
                background-color: #032820;
                transform: rotateZ(-45deg) translateY(-.5em);
                transition: height 150ms, transform 150ms;
            }
            .red::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                background-color: #0d4338;
                transform: rotateZ(-45deg) translateY(-1em);
                transition: transform 150ms;
                border: 1px solid ;
            }
            .button > .base {
                position: relative;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #3f5c4f;
                transform-style: preserve-3d;
                border-bottom: 1px solid #64c53c;
                border-right: 1px solid #64c53c;
            }
            .base::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3f5c4f;
                transform-origin: bottom;
                transform: rotateX(90deg);
                border-right: 1px solid #64c53c;
            }
            .base::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3f5c4f;
                transform-origin: right;
                transform: rotateY(-90deg);
                border-left: 1px solid ;
            }
            .button:active>.red::before {
                transform: rotateZ(-45deg) translateY(0);
                height: 0;
            }
            .button:active>.red::after {
                transform: rotateZ(-45deg) translateY(0);
            }
        }
    }
}
@media (max-width: 768px){
    .Box-content {
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .Box-imagen #imagen {
            width: 200px;
            height: 200px;
            border: 4px dashed #ccccc7;
            border-radius: 50%;
            object-fit: cover;
        }
        .Hi #Guillermo {
            font-family: 'Audiowide', sans-serif;
            font-weight: 900;
            font-size: 2rem;
            color: #65c53c;
        }
        .Iam #full-Stack {
            font-family: 'Audiowide', sans-serif;
            font-weight: 900;
            font-size: 1.8rem;
            color: #00b167;
        }
    }
    .Hire-me{
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
        justify-content: center;
        align-items: center;
    
        .available{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Audiowide', sans-serif;
    
            .availableContainer{
                width: 148px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .90rem;
                box-shadow: 4px 4px 10px 2px #6fff013e;
                border: 2px solid rgb(112, 170, 26);
                /* border: 2px solid rgb(78, 78, 78); */
                border-radius: 1rem;
    
                .available-icon{
                    width: 1.6rem;
                    height: 1.6rem;
                    color: greenyellow;
                    /* color: rgb(78, 78, 78); */
                }
                .available-text{
                    font-size: 1rem;
                    font-weight: 400;
                    color: #ffffff;
                }
            }
        }
        .hiremebutton{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: aqua; */
    
            .button {
                display: flex;
                position: relative;
                background: none;
                border: 0;
                transform-style: preserve-3d;
                transform: rotateX(45deg)rotateZ(45deg);
                cursor: pointer;
            }
            .button > .red {
                width: 1.4rem;
                height: 1.4rem;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                background-color: #032820;
                transform: translate(-50%,-50%);
                transform-style: preserve-3d;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .red::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1rem;
                left: 0;
                background-color: #032820;
                transform: rotateZ(-45deg) translateY(-.5em);
                transition: height 150ms, transform 150ms;
            }
            .red::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                background-color: #0d4338;
                transform: rotateZ(-45deg) translateY(-1em);
                transition: transform 150ms;
                border: 1px solid ;
            }
            .button > .base {
                position: relative;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #3f5c4f;
                transform-style: preserve-3d;
                border-bottom: 1px solid #64c53c;
                border-right: 1px solid #64c53c;
            }
            .base::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3f5c4f;
                transform-origin: bottom;
                transform: rotateX(90deg);
                border-right: 1px solid #64c53c;
            }
            .base::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3f5c4f;
                transform-origin: right;
                transform: rotateY(-90deg);
                border-left: 1px solid ;
            }
            .button:active>.red::before {
                transform: rotateZ(-45deg) translateY(0);
                height: 0;
            }
            .button:active>.red::after {
                transform: rotateZ(-45deg) translateY(0);
            }
        }
    }
}
@media (max-width: 480px){
    .Box-content {
        width: 66vh;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .Box-imagen #imagen {
            width: 180px;
            height: 180px;
            border: 4px dashed #ccccc7;
            border-radius: 50%;
            object-fit: cover;
        }
        .Hi #Guillermo {
            font-family: 'Audiowide', sans-serif;
            font-weight: 900;
            font-size: 2rem;
            color: #65c53c;
        }
        .Iam #full-Stack {
            font-family: 'Audiowide', sans-serif;
            font-weight: 900;
            font-size: 1.8rem;
            color: #00b167;
        }
    }
    .Hire-me{
        width: 100%;
        height: 120px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
        justify-content: center;
        align-items: center;
    
        .available{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Audiowide', sans-serif;
    
            .availableContainer{
                width: 128px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .90rem;
                box-shadow: 4px 4px 10px 2px #6fff013e;
                border: 2px solid rgb(112, 170, 26);
                /* border: 2px solid rgb(78, 78, 78); */
                border-radius: 1rem;
    
                .available-icon{
                    width: 1.2rem;
                    height: 1.2rem;
                    color: greenyellow;
                    /* color: rgb(78, 78, 78); */
                }
                .available-text{
                    font-size: .80rem;
                    font-weight: 400;
                    color: #ffffff;
                }
            }
        }
        .hiremebutton{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: aqua; */
    
            .button {
                display: flex;
                position: relative;
                background: none;
                border: 0;
                transform-style: preserve-3d;
                transform: rotateX(45deg)rotateZ(45deg);
                cursor: pointer;
            }
            .button > .red {
                width: 1.1rem;
                height: 1.1rem;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                background-color: #032820;
                transform: translate(-50%,-50%);
                transform-style: preserve-3d;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .red::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1rem;
                left: 0;
                background-color: #032820;
                transform: rotateZ(-45deg) translateY(-.5em);
                transition: height 150ms, transform 150ms;
            }
            .red::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                background-color: #0d4338;
                transform: rotateZ(-45deg) translateY(-1em);
                transition: transform 150ms;
                border: 1px solid ;
            }
            .button > .base {
                position: relative;
                width: 2rem;
                height: 2rem;
                background-color: #3f5c4f;
                transform-style: preserve-3d;
                border-bottom: 1px solid #64c53c;
                border-right: 1px solid #64c53c;
            }
            .base::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3f5c4f;
                transform-origin: bottom;
                transform: rotateX(90deg);
                border-right: 1px solid #64c53c;
            }
            .base::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3f5c4f;
                transform-origin: right;
                transform: rotateY(-90deg);
                border-left: 1px solid ;
            }
            .button:active>.red::before {
                transform: rotateZ(-45deg) translateY(0);
                height: 0;
            }
            .button:active>.red::after {
                transform: rotateZ(-45deg) translateY(0);
            }
        }
    }
}
@media (max-width: 320px){
    .Box-content {
        width: 70vh;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .Box-imagen #imagen {
            width: 180px;
            height: 180px;
            border: 4px dashed #ccccc7;
            border-radius: 50%;
            object-fit: cover;
        }
        .Hi #Guillermo {
            font-family: 'Audiowide', sans-serif;
            font-weight: 900;
            font-size: 2rem;
            color: #65c53c;
        }
        .Iam #full-Stack {
            font-family: 'Audiowide', sans-serif;
            font-weight: 900;
            font-size: 1.5rem;
            color: #00b167;
        }
    }
    .Hire-me{
        width: 100%;
        height: 120px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
        justify-content: center;
        align-items: center;
    
        .available{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Audiowide', sans-serif;
    
            .availableContainer{
                width: 128px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .80rem;
                box-shadow: 4px 4px 10px 2px #6fff013e;
                border: 2px solid rgb(112, 170, 26);
                /* border: 2px solid rgb(78, 78, 78); */
                border-radius: 1rem;
    
                .available-icon{
                    width: 1rem;
                    height: 1rem;
                    color: greenyellow;
                    /* color: rgb(78, 78, 78); */
                }
                .available-text{
                    font-size: .70rem;
                    font-weight: 400;
                    color: #ffffff;
                }
            }
        }
        .hiremebutton{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: aqua; */
    
            .button {
                display: flex;
                position: relative;
                background: none;
                border: 0;
                transform-style: preserve-3d;
                transform: rotateX(45deg)rotateZ(45deg);
                cursor: pointer;
            }
            .button > .red {
                width: 1rem;
                height: 1rem;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                background-color: #032820;
                transform: translate(-50%,-50%);
                transform-style: preserve-3d;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .red::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1rem;
                left: 0;
                background-color: #032820;
                transform: rotateZ(-45deg) translateY(-.5em);
                transition: height 150ms, transform 150ms;
            }
            .red::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                background-color: #0d4338;
                transform: rotateZ(-45deg) translateY(-1em);
                transition: transform 150ms;
                border: 1px solid ;
            }
            .button > .base {
                position: relative;
                width: 1.8rem;
                height: 1.8rem;
                background-color: #3f5c4f;
                transform-style: preserve-3d;
                border-bottom: 1px solid #64c53c;
                border-right: 1px solid #64c53c;
            }
            .base::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3f5c4f;
                transform-origin: bottom;
                transform: rotateX(90deg);
                border-right: 1px solid #64c53c;
            }
            .base::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3f5c4f;
                transform-origin: right;
                transform: rotateY(-90deg);
                border-left: 1px solid ;
            }
            .button:active>.red::before {
                transform: rotateZ(-45deg) translateY(0);
                height: 0;
            }
            .button:active>.red::after {
                transform: rotateZ(-45deg) translateY(0);
            }
        }
    }
}
/* ==================================================== */
/* @media (max-width: 1280px){
    
}
@media (max-width: 1024px){
    
}
@media (max-width: 768px){
    
}
@media (max-width: 480px){
    
}
@media (max-width: 320px){
    
} */