.AllPortfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 20px;

    .HomePage_Portfolio{
        width: 100%;
        height: max-content;
    }
    .AboutMe-Juego_Portfolio{
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
    }
    .Proyectos_Portfolio{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Footer_Portfolio{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* @media (max-width: 1280px){
    
}
@media (max-width: 1024px){
    
} */
@media (max-width: 768px){
    .AboutMe-Juego_Portfolio{
        flex-direction: column;
        gap: 2rem;
    }
}
@media (max-width: 480px){
    .AboutMe-Juego_Portfolio{
        flex-direction: column;
        gap: 2rem;
    }
}
@media (max-width: 320px){
    .AboutMe-Juego_Portfolio{
        flex-direction: column;
        gap: 2rem;
    }
}