*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.ContainerHomePage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Box-imagen{
        width: 160px;
        height: 160px;
        border: dashed 4px #fff;
        border-radius: 50%;
        overflow: hidden;

        #imagen{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .Hi{
        width: 100%;
        text-align: center;
        font-family: 'Audiowide', sans-serif;
        font-weight: 900;
        font-size: 3rem;
        color: #65c53c;
    }
    .Iam{
        width: 100%;
        text-align: center;
        font-family: 'Audiowide', sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        color: #00b167;
    }
    .Hire-me{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}