.ContainerIMGJUEGO{
    width: 400px;
    height: 500px;
}
.Position_ImgJuego{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgSnake{
    display: flex;
    position: absolute;
    z-index: -1;
}