.AboutGameContainer{
    /* gap: 9rem; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    /* background-color: aliceblue; */
}
/* ======================================================= */
.Container{
    width: 100%;
    /* height: 130vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.imgSnake{
    display: flex;
    position: absolute;
    z-index: -1;
}
@media (max-width: 1280px){
    .AboutGameContainer{
        gap: 3rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}
@media (max-width: 1024px){
    .AboutGameContainer{
        gap: 6rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}
@media (max-width: 768px){
    .AboutGameContainer{
        gap: 6rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}
@media (max-width: 480px){
    .AboutGameContainer{
        gap: 6rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}
@media (max-width: 320px){
    .AboutGameContainer{
        gap: 6rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}