.ContainerGrid{
    margin-top: 6rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.ProyectosTitle{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.Proyectos{
    font-family: 'Audiowide', sans-serif;
    font-size: 4rem;
    color: aliceblue;
}
.GridProyectosCard{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    gap: 14rem;
}
@media (max-width: 1280px){
    .GridProyectosCard{
        gap: 12rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}
@media (max-width: 1024px){
    .GridProyectosCard{
        gap: 12rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}
@media (max-width: 768px){
    .GridProyectosCard{
        width: 100%;
        height: 100%;
        padding: 4rem;
        /* gap: 5rem; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}
@media (max-width: 480px){
    .GridProyectosCard{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}
@media (max-width: 320px){
    .GridProyectosCard{
        width: 100%;
        height: 100%;
        gap: 14rem;
        padding-left: 10rem;
        padding-right: 4rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, auto);
    }
}